{% extends "history/base.html" %}
{% block content %}
<section>
    <br>
        <div class="container">
                <div class="row">
                    <div name="categorys" id="categorys">
                    </div>
                </div>
                <div class="row">
                    {% for state in state_list %}
                        <div class="col-3 state uk-margin-small-bottom">
                            <a href="state/{{ state.en_name }}">
                                <button class="bthover uk-button uk-width-1-1 uk-button-secondary uk-button-large">{{ state.name }}</button>
                            </a>
                        </div>
                    {% empty %}
                        <div class="col-2">
                            هیچ استانی موجود نیست.
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
</section>
{% endblock %}